@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-xTqOj0-Mz_mS: 16px;
  --plasmic-token-h-2: var(--token-xTqOj0-Mz_mS);
  --token-0QKpcZKhP-tH: #2a2b37;
  --plasmic-token-neutral-900: var(--token-0QKpcZKhP-tH);
  --token-lPWxaNK04DZd: #383848;
  --plasmic-token-neutral-800: var(--token-lPWxaNK04DZd);
  --token-QVC7QJdKQ9F2: #48485c;
  --plasmic-token-neutral-700: var(--token-QVC7QJdKQ9F2);
  --token-_hLSiXntd0LP: #5c5d76;
  --plasmic-token-neutral-600: var(--token-_hLSiXntd0LP);
  --token-Mds2PsF3Rzni: #656682;
  --plasmic-token-neutral-500: var(--token-Mds2PsF3Rzni);
  --token-HKgegJsJ5dVP: #84859b;
  --plasmic-token-neutral-400: var(--token-HKgegJsJ5dVP);
  --token-KSckxpJ1a1lB: #9898ab;
  --plasmic-token-neutral-300: var(--token-KSckxpJ1a1lB);
  --token-G_xG_knQSNye: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-G_xG_knQSNye);
  --token-I-HM35DWkPxT: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-I-HM35DWkPxT);
  --token-awNDPzMiWph1: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-awNDPzMiWph1);
  --token-5jJd04mRfCf3: 14px;
  --plasmic-token-body-small: var(--token-5jJd04mRfCf3);
  --token-cNNJTEdh5Izk: 20px;
  --plasmic-token-body-small-2: var(--token-cNNJTEdh5Izk);
  --token-SZ-nTlExz_vb: #01471e;
  --plasmic-token-success-text: var(--token-SZ-nTlExz_vb);
  --token-J_y6hq2x8EoI: #dffbea;
  --plasmic-token-success-bg: var(--token-J_y6hq2x8EoI);
  --token-hm5KoqiyBuzk: #aff5cb;
  --plasmic-token-success-200: var(--token-hm5KoqiyBuzk);
  --token-s0q4pJMcVTUi: #87efb1;
  --plasmic-token-success-300: var(--token-s0q4pJMcVTUi);
  --token-Bdjd5e6gopAc: #5fea97;
  --plasmic-token-success-400: var(--token-Bdjd5e6gopAc);
  --token-nmVSOs6-WEW0: #37e57d;
  --plasmic-token-success-500: var(--token-nmVSOs6-WEW0);
  --token-mls5kDjX_r7p: #24bf63;
  --plasmic-token-success-600: var(--token-mls5kDjX_r7p);
  --token-27kEZAFTZEnf: #159649;
  --plasmic-token-success-700: var(--token-27kEZAFTZEnf);
  --token-WEV7Iz9jUh8A: #096e32;
  --plasmic-token-success-800: var(--token-WEV7Iz9jUh8A);
  --token-yuSyHpn8q4wf: #d7faf8;
  --plasmic-token-secondary-100: var(--token-yuSyHpn8q4wf);
  --token-C0kQTb-pLZrF: #aff5f0;
  --plasmic-token-secondary-200: var(--token-C0kQTb-pLZrF);
  --token-HwECM_Pqfv23: #87efe8;
  --plasmic-token-secondary-300: var(--token-HwECM_Pqfv23);
  --token-mBD-vNCOeM2Y: #5feae1;
  --plasmic-token-secondary-400: var(--token-mBD-vNCOeM2Y);
  --token-sI5JBFCVsrGs: #37e5db;
  --plasmic-token-secondary-500: var(--token-sI5JBFCVsrGs);
  --token-g1w6dxOth9Jz: #24bfb5;
  --plasmic-token-secondary-600: var(--token-g1w6dxOth9Jz);
  --token-2XejJIPyhSFD: #15968e;
  --plasmic-token-secondary-700: var(--token-2XejJIPyhSFD);
  --token-_JpoHdZB-DNi: #096e67;
  --plasmic-token-secondary-800: var(--token-_JpoHdZB-DNi);
  --token-n9kcS_ruWtCX: #014743;
  --plasmic-token-secondary-900: var(--token-n9kcS_ruWtCX);
  --token-N1awg8pdsZYD: #d8d8fa;
  --plasmic-token-primary-100: var(--token-N1awg8pdsZYD);
  --token-KbtyPx1VB6_G: #b0b1f4;
  --plasmic-token-primary-200: var(--token-KbtyPx1VB6_G);
  --token-ytuEXT4rkUiH: #898bef;
  --plasmic-token-primary-300: var(--token-ytuEXT4rkUiH);
  --token-KulTxT3fgZA8: #6164e9;
  --plasmic-token-primary-400: var(--token-KulTxT3fgZA8);
  --token-dK-Rk4vzWa9C: #3a3de4;
  --plasmic-token-primary-500: var(--token-dK-Rk4vzWa9C);
  --token-Km_z1Mq_CQJ5: #2225bf;
  --plasmic-token-primary-600: var(--token-Km_z1Mq_CQJ5);
  --token-p9V48O_G7Uwz: #141696;
  --plasmic-token-primary-700: var(--token-p9V48O_G7Uwz);
  --token-Kgu01GmKW2fn: #08096e;
  --plasmic-token-primary-800: var(--token-Kgu01GmKW2fn);
  --token-8HWVeFfYl0hg: #010347;
  --plasmic-token-primary-900: var(--token-8HWVeFfYl0hg);
  --token-H_0So044LMrf: #f2f3fd;
  --plasmic-token-primary-050: var(--token-H_0So044LMrf);
  --token-Xm7I_9nyv_e1: #faf6d7;
  --plasmic-token-warning-100: var(--token-Xm7I_9nyv_e1);
  --token-3jFWd7M5w3JH: #f5eeaf;
  --plasmic-token-warning-200: var(--token-3jFWd7M5w3JH);
  --token-P-XSYYKDUKT9: #efe587;
  --plasmic-token-warning-300: var(--token-P-XSYYKDUKT9);
  --token-tCzhZn_dmv0e: #eadd5f;
  --plasmic-token-warning-400: var(--token-tCzhZn_dmv0e);
  --token-11f4iHd_CzBO: #e5d437;
  --plasmic-token-warning-500: var(--token-11f4iHd_CzBO);
  --token-uDNx50v0GB6K: #bfb024;
  --plasmic-token-warning-600: var(--token-uDNx50v0GB6K);
  --token-D4HeJDr-Ea3t: #998c15;
  --plasmic-token-warning-700: var(--token-D4HeJDr-Ea3t);
  --token-wYnDPb7Frlkb: #6e6408;
  --plasmic-token-warning-800: var(--token-wYnDPb7Frlkb);
  --token-r7jeXWooPysW: #383302;
  --plasmic-token-warning-900: var(--token-r7jeXWooPysW);
  --token-o4XJzqQiLBc0: #fad7d7;
  --plasmic-token-danger-100: var(--token-o4XJzqQiLBc0);
  --token-SzImmFPL011n: #f18787;
  --plasmic-token-danger-300: var(--token-SzImmFPL011n);
  --token-BxAxjJe_5UzT: #f6afaf;
  --plasmic-token-danger-200: var(--token-BxAxjJe_5UzT);
  --token-IZROe48nhaZG: #ed6060;
  --plasmic-token-danger-400: var(--token-IZROe48nhaZG);
  --token-CSWg-I0Io-yB: #e83838;
  --plasmic-token-danger-500: var(--token-CSWg-I0Io-yB);
  --token-OhvIfU6-3Wj3: #c22525;
  --plasmic-token-danger-600: var(--token-OhvIfU6-3Wj3);
  --token-dkllHsoksZlp: #9c1616;
  --plasmic-token-danger-700: var(--token-dkllHsoksZlp);
  --token-QvdlkQwqRLej: #6b0707;
  --plasmic-token-danger-800: var(--token-QvdlkQwqRLej);
  --token-hqqjR6pMymbE: #360202;
  --plasmic-token-danger-900: var(--token-hqqjR6pMymbE);
  --token-_PMjjRdK5eRv: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-_PMjjRdK5eRv);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-U2HA7FMq-NlE_font-family: "Inter", sans-serif;
  --mixin-U2HA7FMq-NlE_font-size: 14px;
  --mixin-U2HA7FMq-NlE_font-weight: 400;
  --mixin-U2HA7FMq-NlE_font-style: normal;
  --mixin-U2HA7FMq-NlE_color: var(--token-KSckxpJ1a1lB);
  --mixin-U2HA7FMq-NlE_text-align: left;
  --mixin-U2HA7FMq-NlE_text-transform: none;
  --mixin-U2HA7FMq-NlE_line-height: 21px;
  --mixin-U2HA7FMq-NlE_letter-spacing: -0.6%;
  --mixin-U2HA7FMq-NlE_white-space: pre-wrap;
  --mixin-U2HA7FMq-NlE_user-select: text;
  --mixin-U2HA7FMq-NlE_text-decoration-line: none;
  --mixin-U2HA7FMq-NlE_text-overflow: clip;
  --mixin-NehXmCgL6jRQ_color: var(--token-0QKpcZKhP-tH);
  --mixin-NehXmCgL6jRQ_font-weight: 600;
  --mixin-NehXmCgL6jRQ_font-size: 26px;
  --mixin-NehXmCgL6jRQ_line-height: 32px;
  --mixin-NehXmCgL6jRQ_letter-spacing: -1%;
  --mixin-NehXmCgL6jRQ_white-space: pre-wrap;
  --mixin-nVR-Ail8ykUZ_color: var(--token-0QKpcZKhP-tH);
  --mixin-nVR-Ail8ykUZ_font-size: 23px;
  --mixin-nVR-Ail8ykUZ_font-weight: 700;
  --mixin-nVR-Ail8ykUZ_line-height: 28px;
  --mixin-nVR-Ail8ykUZ_font-family: "Inter", sans-serif;
  --mixin-nVR-Ail8ykUZ_letter-spacing: -1%;
  --mixin-nVR-Ail8ykUZ_white-space: pre-wrap;
  --mixin-98ecrqhStFpy_color: #0070f3;
  --mixin-98ecrqhStFpy_white-space: pre-wrap;
  --mixin-ama1j6NTsQyp_color: var(--token-0QKpcZKhP-tH);
  --mixin-ama1j6NTsQyp_font-size: 20px;
  --mixin-ama1j6NTsQyp_font-weight: 700;
  --mixin-ama1j6NTsQyp_line-height: 24px;
  --mixin-ama1j6NTsQyp_letter-spacing: -1%;
  --mixin-ama1j6NTsQyp_font-family: "Inter", sans-serif;
  --mixin-ama1j6NTsQyp_white-space: pre-wrap;
  --mixin-yPdT5vMq3KwC_color: var(--token-0QKpcZKhP-tH);
  --mixin-yPdT5vMq3KwC_font-size: 18px;
  --mixin-yPdT5vMq3KwC_font-weight: 700;
  --mixin-yPdT5vMq3KwC_line-height: 24px;
  --mixin-yPdT5vMq3KwC_letter-spacing: -1%;
  --mixin-yPdT5vMq3KwC_font-family: "Inter", sans-serif;
  --mixin-yPdT5vMq3KwC_white-space: pre-wrap;
  --mixin-ZihsPkvT5A0Q_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZihsPkvT5A0Q_border-bottom-color: #dddddd;
  --mixin-ZihsPkvT5A0Q_border-bottom-style: solid;
  --mixin-ZihsPkvT5A0Q_border-bottom-width: 1px;
  --mixin-ZihsPkvT5A0Q_border-left-color: #dddddd;
  --mixin-ZihsPkvT5A0Q_border-left-style: solid;
  --mixin-ZihsPkvT5A0Q_border-left-width: 1px;
  --mixin-ZihsPkvT5A0Q_border-right-color: #dddddd;
  --mixin-ZihsPkvT5A0Q_border-right-style: solid;
  --mixin-ZihsPkvT5A0Q_border-right-width: 1px;
  --mixin-ZihsPkvT5A0Q_border-top-color: #dddddd;
  --mixin-ZihsPkvT5A0Q_border-top-style: solid;
  --mixin-ZihsPkvT5A0Q_border-top-width: 1px;
  --mixin-ZihsPkvT5A0Q_border-bottom-left-radius: 3px;
  --mixin-ZihsPkvT5A0Q_border-bottom-right-radius: 3px;
  --mixin-ZihsPkvT5A0Q_border-top-left-radius: 3px;
  --mixin-ZihsPkvT5A0Q_border-top-right-radius: 3px;
  --mixin-ZihsPkvT5A0Q_font-family: "Inconsolata";
  --mixin-ZihsPkvT5A0Q_padding-bottom: 1px;
  --mixin-ZihsPkvT5A0Q_padding-left: 4px;
  --mixin-ZihsPkvT5A0Q_padding-right: 4px;
  --mixin-ZihsPkvT5A0Q_padding-top: 1px;
  --mixin-ZihsPkvT5A0Q_white-space: pre-wrap;
  --mixin-M7vi86aRy1GJ_border-left-color: #dddddd;
  --mixin-M7vi86aRy1GJ_border-left-style: solid;
  --mixin-M7vi86aRy1GJ_border-left-width: 3px;
  --mixin-M7vi86aRy1GJ_color: #888888;
  --mixin-M7vi86aRy1GJ_padding-left: 10px;
  --mixin-M7vi86aRy1GJ_white-space: pre-wrap;
  --mixin-WL6G9g74jn1y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WL6G9g74jn1y_border-bottom-color: #dddddd;
  --mixin-WL6G9g74jn1y_border-bottom-style: solid;
  --mixin-WL6G9g74jn1y_border-bottom-width: 1px;
  --mixin-WL6G9g74jn1y_border-left-color: #dddddd;
  --mixin-WL6G9g74jn1y_border-left-style: solid;
  --mixin-WL6G9g74jn1y_border-left-width: 1px;
  --mixin-WL6G9g74jn1y_border-right-color: #dddddd;
  --mixin-WL6G9g74jn1y_border-right-style: solid;
  --mixin-WL6G9g74jn1y_border-right-width: 1px;
  --mixin-WL6G9g74jn1y_border-top-color: #dddddd;
  --mixin-WL6G9g74jn1y_border-top-style: solid;
  --mixin-WL6G9g74jn1y_border-top-width: 1px;
  --mixin-WL6G9g74jn1y_border-bottom-left-radius: 3px;
  --mixin-WL6G9g74jn1y_border-bottom-right-radius: 3px;
  --mixin-WL6G9g74jn1y_border-top-left-radius: 3px;
  --mixin-WL6G9g74jn1y_border-top-right-radius: 3px;
  --mixin-WL6G9g74jn1y_font-family: "Inconsolata";
  --mixin-WL6G9g74jn1y_padding-bottom: 3px;
  --mixin-WL6G9g74jn1y_padding-left: 6px;
  --mixin-WL6G9g74jn1y_padding-right: 6px;
  --mixin-WL6G9g74jn1y_padding-top: 3px;
  --mixin-WL6G9g74jn1y_white-space: pre-wrap;
  --mixin-CeU74kbX2PeJ_display: flex;
  --mixin-CeU74kbX2PeJ_flex-direction: column;
  --mixin-CeU74kbX2PeJ_align-items: stretch;
  --mixin-CeU74kbX2PeJ_justify-content: flex-start;
  --mixin-CeU74kbX2PeJ_list-style-position: outside;
  --mixin-CeU74kbX2PeJ_padding-left: 40px;
  --mixin-CeU74kbX2PeJ_position: relative;
  --mixin-CeU74kbX2PeJ_list-style-type: disc;
  --mixin-CeU74kbX2PeJ_white-space: pre-wrap;
  --mixin-1XHcD8svkmH6_display: flex;
  --mixin-1XHcD8svkmH6_flex-direction: column;
  --mixin-1XHcD8svkmH6_align-items: stretch;
  --mixin-1XHcD8svkmH6_justify-content: flex-start;
  --mixin-1XHcD8svkmH6_list-style-position: outside;
  --mixin-1XHcD8svkmH6_padding-left: 40px;
  --mixin-1XHcD8svkmH6_position: relative;
  --mixin-1XHcD8svkmH6_list-style-type: decimal;
  --mixin-1XHcD8svkmH6_white-space: pre-wrap;
  --mixin-LoFEmQ4PW-iR_color: var(--token-lPWxaNK04DZd);
  --mixin-LoFEmQ4PW-iR_font-size: 16px;
  --mixin-LoFEmQ4PW-iR_font-weight: 600;
  --mixin-LoFEmQ4PW-iR_line-height: 20px;
  --mixin-LoFEmQ4PW-iR_letter-spacing: -1%;
  --mixin-LoFEmQ4PW-iR_font-family: "Inter", sans-serif;
  --mixin-LoFEmQ4PW-iR_white-space: pre-wrap;
  --mixin-QkdaRXRrAQBZ_color: var(--token-0QKpcZKhP-tH);
  --mixin-QkdaRXRrAQBZ_font-size: 14px;
  --mixin-QkdaRXRrAQBZ_font-weight: 600;
  --mixin-QkdaRXRrAQBZ_line-height: 20px;
  --mixin-QkdaRXRrAQBZ_letter-spacing: 1%;
  --mixin-QkdaRXRrAQBZ_font-family: "Inter", sans-serif;
  --mixin-QkdaRXRrAQBZ_white-space: pre-wrap;
  --mixin-8-Sqx1YjKKXq_color: #3291ff;
  --mixin-8-Sqx1YjKKXq_white-space: pre-wrap;
  --mixin-hBnH7jbwcwlw_white-space: pre-wrap;
  --mixin-riLMryeUcxCZ_color: var(--token-QVC7QJdKQ9F2);
  --mixin-riLMryeUcxCZ_font-family: "Inter", sans-serif;
  --mixin-riLMryeUcxCZ_font-weight: 500;
  --mixin-riLMryeUcxCZ_font-size: 16px;
  --mixin-riLMryeUcxCZ_line-height: 24px;
  --mixin-riLMryeUcxCZ_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-LjZv50usMlJ7_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-LjZv50usMlJ7_white-space);
  --mixin-i61SUztYM8-I_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-i61SUztYM8-I_white-space);
  --mixin-gs4DAv6F8SKf_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-gs4DAv6F8SKf_box-shadow);
  --mixin-gs4DAv6F8SKf_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-gs4DAv6F8SKf_white-space
  );
  --mixin-fXeB8HNDIWkW_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-fXeB8HNDIWkW_white-space);
  --mixin-uNTNgcdd39S1_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-uNTNgcdd39S1_white-space);
  --mixin-f9pONfZoz7Cq_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-f9pONfZoz7Cq_box-shadow
  );
  --mixin-f9pONfZoz7Cq_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-f9pONfZoz7Cq_white-space
  );
  --mixin-L1TNrHHleaX5_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-L1TNrHHleaX5_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-U2HA7FMq-NlE_font-family);
  font-size: var(--mixin-U2HA7FMq-NlE_font-size);
  font-weight: var(--mixin-U2HA7FMq-NlE_font-weight);
  font-style: var(--mixin-U2HA7FMq-NlE_font-style);
  color: var(--mixin-U2HA7FMq-NlE_color);
  text-align: var(--mixin-U2HA7FMq-NlE_text-align);
  text-transform: var(--mixin-U2HA7FMq-NlE_text-transform);
  line-height: var(--mixin-U2HA7FMq-NlE_line-height);
  letter-spacing: var(--mixin-U2HA7FMq-NlE_letter-spacing);
  white-space: var(--mixin-U2HA7FMq-NlE_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-NehXmCgL6jRQ_color);
  font-weight: var(--mixin-NehXmCgL6jRQ_font-weight);
  font-size: var(--mixin-NehXmCgL6jRQ_font-size);
  line-height: var(--mixin-NehXmCgL6jRQ_line-height);
  letter-spacing: var(--mixin-NehXmCgL6jRQ_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-nVR-Ail8ykUZ_color);
  font-size: var(--mixin-nVR-Ail8ykUZ_font-size);
  font-weight: var(--mixin-nVR-Ail8ykUZ_font-weight);
  line-height: var(--mixin-nVR-Ail8ykUZ_line-height);
  font-family: var(--mixin-nVR-Ail8ykUZ_font-family);
  letter-spacing: var(--mixin-nVR-Ail8ykUZ_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-98ecrqhStFpy_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ama1j6NTsQyp_color);
  font-size: var(--mixin-ama1j6NTsQyp_font-size);
  font-weight: var(--mixin-ama1j6NTsQyp_font-weight);
  line-height: var(--mixin-ama1j6NTsQyp_line-height);
  letter-spacing: var(--mixin-ama1j6NTsQyp_letter-spacing);
  font-family: var(--mixin-ama1j6NTsQyp_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-yPdT5vMq3KwC_color);
  font-size: var(--mixin-yPdT5vMq3KwC_font-size);
  font-weight: var(--mixin-yPdT5vMq3KwC_font-weight);
  line-height: var(--mixin-yPdT5vMq3KwC_line-height);
  letter-spacing: var(--mixin-yPdT5vMq3KwC_letter-spacing);
  font-family: var(--mixin-yPdT5vMq3KwC_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ZihsPkvT5A0Q_font-family);
  border-radius: var(--mixin-ZihsPkvT5A0Q_border-top-left-radius)
    var(--mixin-ZihsPkvT5A0Q_border-top-right-radius)
    var(--mixin-ZihsPkvT5A0Q_border-bottom-right-radius)
    var(--mixin-ZihsPkvT5A0Q_border-bottom-left-radius);
  padding: var(--mixin-ZihsPkvT5A0Q_padding-top)
    var(--mixin-ZihsPkvT5A0Q_padding-right)
    var(--mixin-ZihsPkvT5A0Q_padding-bottom)
    var(--mixin-ZihsPkvT5A0Q_padding-left);
  border-top: var(--mixin-ZihsPkvT5A0Q_border-top-width)
    var(--mixin-ZihsPkvT5A0Q_border-top-style)
    var(--mixin-ZihsPkvT5A0Q_border-top-color);
  border-right: var(--mixin-ZihsPkvT5A0Q_border-right-width)
    var(--mixin-ZihsPkvT5A0Q_border-right-style)
    var(--mixin-ZihsPkvT5A0Q_border-right-color);
  border-bottom: var(--mixin-ZihsPkvT5A0Q_border-bottom-width)
    var(--mixin-ZihsPkvT5A0Q_border-bottom-style)
    var(--mixin-ZihsPkvT5A0Q_border-bottom-color);
  border-left: var(--mixin-ZihsPkvT5A0Q_border-left-width)
    var(--mixin-ZihsPkvT5A0Q_border-left-style)
    var(--mixin-ZihsPkvT5A0Q_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-M7vi86aRy1GJ_color);
  padding-left: var(--mixin-M7vi86aRy1GJ_padding-left);
  border-left: var(--mixin-M7vi86aRy1GJ_border-left-width)
    var(--mixin-M7vi86aRy1GJ_border-left-style)
    var(--mixin-M7vi86aRy1GJ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WL6G9g74jn1y_font-family);
  border-radius: var(--mixin-WL6G9g74jn1y_border-top-left-radius)
    var(--mixin-WL6G9g74jn1y_border-top-right-radius)
    var(--mixin-WL6G9g74jn1y_border-bottom-right-radius)
    var(--mixin-WL6G9g74jn1y_border-bottom-left-radius);
  padding: var(--mixin-WL6G9g74jn1y_padding-top)
    var(--mixin-WL6G9g74jn1y_padding-right)
    var(--mixin-WL6G9g74jn1y_padding-bottom)
    var(--mixin-WL6G9g74jn1y_padding-left);
  border-top: var(--mixin-WL6G9g74jn1y_border-top-width)
    var(--mixin-WL6G9g74jn1y_border-top-style)
    var(--mixin-WL6G9g74jn1y_border-top-color);
  border-right: var(--mixin-WL6G9g74jn1y_border-right-width)
    var(--mixin-WL6G9g74jn1y_border-right-style)
    var(--mixin-WL6G9g74jn1y_border-right-color);
  border-bottom: var(--mixin-WL6G9g74jn1y_border-bottom-width)
    var(--mixin-WL6G9g74jn1y_border-bottom-style)
    var(--mixin-WL6G9g74jn1y_border-bottom-color);
  border-left: var(--mixin-WL6G9g74jn1y_border-left-width)
    var(--mixin-WL6G9g74jn1y_border-left-style)
    var(--mixin-WL6G9g74jn1y_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-CeU74kbX2PeJ_display);
  flex-direction: var(--mixin-CeU74kbX2PeJ_flex-direction);
  align-items: var(--mixin-CeU74kbX2PeJ_align-items);
  justify-content: var(--mixin-CeU74kbX2PeJ_justify-content);
  list-style-position: var(--mixin-CeU74kbX2PeJ_list-style-position);
  padding-left: var(--mixin-CeU74kbX2PeJ_padding-left);
  position: var(--mixin-CeU74kbX2PeJ_position);
  list-style-type: var(--mixin-CeU74kbX2PeJ_list-style-type);
  flex-column-gap: var(--mixin-CeU74kbX2PeJ_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1XHcD8svkmH6_display);
  flex-direction: var(--mixin-1XHcD8svkmH6_flex-direction);
  align-items: var(--mixin-1XHcD8svkmH6_align-items);
  justify-content: var(--mixin-1XHcD8svkmH6_justify-content);
  list-style-position: var(--mixin-1XHcD8svkmH6_list-style-position);
  padding-left: var(--mixin-1XHcD8svkmH6_padding-left);
  position: var(--mixin-1XHcD8svkmH6_position);
  list-style-type: var(--mixin-1XHcD8svkmH6_list-style-type);
  flex-column-gap: var(--mixin-1XHcD8svkmH6_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-LoFEmQ4PW-iR_color);
  font-size: var(--mixin-LoFEmQ4PW-iR_font-size);
  font-weight: var(--mixin-LoFEmQ4PW-iR_font-weight);
  line-height: var(--mixin-LoFEmQ4PW-iR_line-height);
  letter-spacing: var(--mixin-LoFEmQ4PW-iR_letter-spacing);
  font-family: var(--mixin-LoFEmQ4PW-iR_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-QkdaRXRrAQBZ_color);
  font-size: var(--mixin-QkdaRXRrAQBZ_font-size);
  font-weight: var(--mixin-QkdaRXRrAQBZ_font-weight);
  line-height: var(--mixin-QkdaRXRrAQBZ_line-height);
  letter-spacing: var(--mixin-QkdaRXRrAQBZ_letter-spacing);
  font-family: var(--mixin-QkdaRXRrAQBZ_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-8-Sqx1YjKKXq_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-riLMryeUcxCZ_color);
  font-family: var(--mixin-riLMryeUcxCZ_font-family);
  font-weight: var(--mixin-riLMryeUcxCZ_font-weight);
  font-size: var(--mixin-riLMryeUcxCZ_font-size);
  line-height: var(--mixin-riLMryeUcxCZ_line-height);
}
